Django==5.2.13
djangorestframework==3.16.0
django-cors-headers==4.9.0
mysqlclient==2.2.8
gunicorn==25.3.0
whitenoise==6.12.0
python-decouple==3.8
requests==2.33.1
uuid6==2024.1.12
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2026.1